extends ../layouts/_jakeoid.pug

block variables
  - var htmlTitle = "Projects";

block content
  section#projects
    div
      div
        h2 Birb (Discord Bot)
        p.
          Birb is a Discord bot that was designed to complete everything that a server to a user could need. From fun commands, to useful commands, to NSFW commands, Birb has you covered.
        div.btn Goto &rarr;
      div
        h2 English &harr; Nato Converter
        p.
          Convert between the Nato phonetic alphabet (i.e Alpha Beta Crimson) from English and back again using this quick and easy resource.
        div.btn Goto &rarr;
      div
        h2 /r/Naut Theme Generator
        p.
          Generate a color scheme (and change some basic assets) of the /r/naut theme and adapt your subreddit into something more custom!
        div.btn Goto &rarr;
      div
        h2 Pokemon Picross Solutions #[small WIP]
        p.
          Pokemon Picross on the 3DS is an almost challenging puzzle game, therefore we made this resource to make breezing through the game a piece of cake.
        div.btn Goto &rarr;
      div
        h2 Oldman Glitch
        p.
          Pokemon Red &amp; Blue contained a weird glitch that allowed for people (when surfing on a specific shore, or other specific situations) catch MissingNo. and other glitch Pokémon. This resource calculates the "other Pokémon".
        div.btn Goto &rarr;