section.
    #[a(href='https://github.com/jakeoid') #[label github;]]
    #[a(href='https://twitter.com/jakeoid_') #[label twitter;]]
    #[a(href='https://keybase.io/jakeoid') #[label keybase;]]
    #[a(href='/projects') #[label projects;]]
    #[a(href='/etc') #[label etc;]]

footer
    p.
        &copy; 2015-2017 Jakeoid.